{% extends 'layout.html' %}

{% block title %}
  Listes fiches
{% endblock %}

{% block content %}
  <section>
    <h1>Liste fiches</h1>

    <table class="fiches-table table table-striped">
      <thead class=" text-center align-middle ">   
        <tr>
          <th>
            Id <span class="icon-arrow">&UpArrow;</span>
          </th>
          <th>
            Code activité <span class="icon-arrow">&UpArrow;</span>
          </th>
          <th>
            Domaine <span class="icon-arrow">&UpArrow;</span>
          </th>
          <th>
            Sous-domaine <span class="icon-arrow">&UpArrow;</span>
          </th>
          <th>
            Actions 
          </th> 
        </tr>
      </thead>
      <tbody style="background-color: #f8f9fa;">
        {% for fiche in fiches %}
          <tr>
            <td>{{ fiche.id }}</td>
            <td>{{ fiche.code_activite }}</td>
            <td>{{ fiche.domaine }}</td>
            <td>{{ fiche.sous_domaine }}</td>
            <td>
              
              <button type="button" class="btn btn-sm btn-warning" onclick="location.href='{% url 'formulaire:editer_fiche' id=fiche.id %}'">✏️ Éditer</button>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>

    <p class="text-muted small mt-3">
      {% if fiches|length == 0 %}
        Aucune fiche trouvée.
      {% endif %}
      Total fiches : {{ fiches|length  }}
    </p>
  </section>
{% endblock %}
